<!-- your html code here -->
<h3>Contact</h3>
<p class="lead">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad repudiandae
  quas enim. Reprehenderit nam ipsa cupiditate alias ut repudiandae
  accusantium. Eum officia, impedit illo error hic nostrum magnam dolorem
  beatae?
</p>
<form class="row">
    <div class="col-8 m-auto p-3 bg-light border rounded mb-5">
      <div class="row mb-3 d-flex justify-content-end">
        <label for="emailInput" class="form-label col-sm-2 col-form-label fw-bold">Your E-mail</label>
        <div class="col-sm-8">
          <input
            type="email"
            class="form-control"
            id="emailInput"
            placeholder="Your email"
          />
        </div>
      </div>
      <div class="row mb-3 d-flex justify-content-end">
        <label for="messageInput" class="form-label col-sm-2 col-form-label fw-bold">Your message</label>
        <div class="col-sm-8">
            <textarea
            class="form-control"
            id="messageInput"
            rows="5"
            placeholder="Please enter your message here..."
            ></textarea>
        </div>
      </div>
      <div class="mb-3 d-flex justify-content-end">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>
</body>
</html>
