<div class="container bg-body mt-4 mb-4">
    <div>
        <h2 class="mb-1 pt-2">Portfolio</h2>
        <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="row">
        <div class="col-12 col-md-4 mb-3">
            <div class="card border-0 rounded-0 h-100 mb-3">
                <div class="card-img-top d-flex justify-content-center align-items-center rounded-0">
                    <img src="./assets/img/big-project-image.png" class="img-fluid pb-2" alt="Project Image"/>
                </div>
                <div class="card-body p-0">
                    <h4 class="card-title text-primary">Project Name</h4>
                    <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim eveniet adipisci, fugiat sit mollitia consequuntur ratione ullam accusantium esse ad sint, tempora iusto error architecto vel, provident voluptatibus aut pariatur?</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 mb-3">
            <div class="card border-0 rounded-0 h-100 mb-3">
                <div class="card-img-top d-flex justify-content-center align-items-center rounded-0">
                    <img src="./assets/img/big-project-image.png" class="img-fluid pb-2" alt="Project Image"/>
                </div>
                <div class="card-body p-0">
                    <h4 class="card-title text-primary">Project Name</h4>
                    <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim eveniet adipisci, fugiat sit mollitia consequuntur ratione ullam accusantium esse ad sint, tempora iusto error architecto vel, provident voluptatibus aut pariatur?</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 mb-3">
            <div class="card border-0 rounded-0 h-100 mb-3">
                <div class="card-img-top d-flex justify-content-center align-items-center rounded-0">
                    <img src="./assets/img/big-project-image.png" class="img-fluid pb-2" alt="Project Image"/>
                </div>
                <div class="card-body p-0">
                    <h4 class="card-title text-primary">Project Name</h4>
                    <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim eveniet adipisci, fugiat sit mollitia consequuntur ratione ullam accusantium esse ad sint, tempora iusto error architecto vel, provident voluptatibus aut pariatur?</p>
                </div>
            </div>
        </div>
    </div>
</div>
